<button> <a href="/home"> Home</a></button>
<h1> About </h1>

<h2>Established in 1997 in the heart of Chicago’s Chinatown Square Mall, we believe we have a responsibility to our clients–to make them look good and feel even better. Your beauty is our passion.

    Your wellness and health are also extremely important. That’s why we use only the highest-quality products.
    
    We encourage you to relax when you come in–sit back and sip a beverage while enjoying relaxing music and a stress-free setting. Our trained professionals will handle all of your beauty and wellness needs during your visit.
    
     </h2>