<button> <a href="/home"> Home</a></button>

<h1> Schedule</h1>
<form action="/scheduling" method="post">
    <label for="name"> Name:</label>
    <input type="text" name="name" placeholder="Enter Name"><br>
    <label for="email"> E-mail :</label>
    <input type="email" name="email" placeholder="Enter E-mail" ><br>
<p> Select a Date  : </p>
<input type="date" name="date"><br>
<p> Select a Slot :</p>
<input type="radio"  name="slots" value="slot1">
<label for="slots">Slot - 1 (9.00 AM )</label><br>
<input type="radio"  name="slots" value="slot2" >
<label for="slots">Slot - 2 (10.00 AM )</label><br>
<input type="radio"  name="slots" value="slot3" >
<label for="slots">Slot - 3 (11.00 AM )</label><br>
<input type="radio"  name="slots"  value="slot4">
<label for="slots">Slot - 4 (12.00 PM )</label><br>
<input type="radio"  name="slots"  value="slot5">
<label for="slots">Slot - 5 (1.00 PM )</label><br>
<input type="radio"  name="slots"  value="slot6">
<label for="slots">Slot - 6 (2.00 PM )</label><br>
<input type="radio"  name="slots" value="slot7" >
<label for="slots">Slot - 7 (3.00 PM )</label><br>
<input type="radio"  name="slots" value="slot8" >
<label for="slots">Slot - 8 (4.00 PM )</label><br>
<input type="radio"  name="slots" value="slot9" >
<label for="slots">Slot - 9 (5.00 PM )</label><br>
<input type="radio"  name="slots" value="slot10">
<label for="slots">Slot - 10 (6.00 PM )</label><br>
<p> Select a Services :
<input type="checkbox" id="service" name="services" value="Haircut">
<label for="services"> Haircut </label>
<input type="checkbox" id="service" name="services" value="Shave">
<label for="services"> Shave </label>
<br>
<br>
<button type="submit"> Book a slot </button>
</p>
</form>