<h1> Sevices</h1>

<table>
    <thead>
        <tr>
            <th> Name </th>
            <th> Slot </th>
            <th> Date </th>
        </tr>
    </thead>
    <tbody>
        <tr> 
            <td> <%= name %> </td>
            <td> <%= slots %> </td>
            <td> <%= date %></td>
        </tr>
    </tbody>
</table>